html,
body {
  margin: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

/* NOTE (hub33k): for now styling here, later this will be calculated in JS */
#app {
  margin: 0 auto;
  padding: 5rem 0;
  max-width: 800px;
}

#game {
  display: block;
  border: 1px solid white;
  /* width: 100%; */
  /* height: 100%; */
}

#info {
  display: none;
}
